name: nightly executed test workflow for Lumiere Creation, on push for now

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  run-playwright-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          pip install pytest
          pip install pytest-playwright

      - name: Install Playwright browsers
        run: |
          playwright install --with-deps chromium

      - name: Run all Playwright test scripts
        run: |
          cd "tests"
          pytest --browser chromium -v
